resources/AttributTemplates1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://ch/mitoco/store/generated"
    xmlns:at="http://ch/mitoco/store/generated"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xs:element name="Attributs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ID" type="xs:int"/>
                <xs:element name="Name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
